<div id="sectionMotionStatus">
  <img src="images/camera.png" width="30"/>
  <button id="btnTurnOnOff" ng-class="{'btnOn':motionStatus, 'btnOff': motionStatus == false}" ng-click="turnOnOffMotion()"></button>
</div>

<div class="imageViewer">
  <div class="tittleSection">
    {{currentDate  | date : format : longDate}}

  </div>

  <div class="imageSection">
    <div id="liveBox" ng-show="isLive" >LIVE</div>
    <img ng-src="captures/{{imgSrc}}">
  </div>

  <div class="listSection">
    <input type="checkbox" ng-model="isLive" ng-click="pause()" > Live
    <div ng-repeat="date in Dates">
      <p>{{LoadingDates}}</p>
      <img width="80" ng-src="captures/{{date.FileName}}" ng-click="getImages(date.DateOnly)">
      <p>{{date.DateOnly}} ({{date.Cnt}})</p>
    </div>
  </div>

  <div class="imgControls">
    <div>
      <button id="btnPlayPause" ng-click="playPause()" ng-class="{'btnPause':isPlaying , 'btnPlay':isPlaying==false}"></button>
    </div>
    <div>
      <button id="btnFwd" ng-click="fwd()" ng-class="{'btnFwd2x':speed>1}">{{speed>1? "x"+speed:""}}</button>
    </div>
    <div>
      {{Images[0].Time}}
    </div>
    <div>
      <input type="range" id="rngPosition"  min=0 max="{{Images.length}}" ng-model="currentIndex" ng-mousedown="pause()" ng-mouseup="setCurrentPositition()">
    </div>
    <div>
      {{Images[Images.length-1].Time}}
    </div>
    <div>
      {{currentTime}}
    </div>
  </div>
</div>


